node_modules/ 
.env 
uploads/ 
logs/ 
.DS_Store 
.env.sample 
serviceAccountKey.json 
firebase-debug.log 
firebase.json 
.firebaserc 
*.bat 
*.ps1 
firebase* 
Dockerfile 
docker-compose.yml 
package_backup.json 
data/ 
